extends layout

block content
  .container-fluid
    h1(align="center") #{__('Secureमतदान Blockchain Demo')}
    - var peers = {1: 'A', 2: 'B',3: 'C'}
    - each peer, chain in peers
      h3 #{__('Peer')} #{peer}
      .row.row-horizon
        - var blocks = []
        - blocks.push({block: 1, chain: chain, nonce: 62190, coinbasevalue: '1.0', coinbaseto: 'Ramesh', previous: '0000000000000000000000000000000000000000000000000000000000000000'})
        - blocks.push({block: 2, chain: chain, nonce: 12730, coinbasevalue: '1.0', coinbaseto: 'Shubham', previous: '000002820814eb19d11e53c0e9fafec6d88ceec373cbd7f813a70aa90222c499'})
        - blocks.push({block: 3, chain: chain, nonce: 77392, coinbasevalue: '1.0', coinbaseto: 'Kavita', previous: '0000300b5bc7bf10cd249f5a3d1eba84a70c6153a7eec524996322d422ae6bb9'})
        - blocks.push({block: 4, chain: chain, nonce: 698, coinbasevalue: '1.0', coinbaseto: 'Babita', previous: '0000328d89e17e21191709b4a0f0736b4498b57db59d3bb79bd7aed0191473e2'})
        - blocks.push({block: 5, chain: chain, nonce: 108899, coinbasevalue: '1.0', coinbaseto: 'Chandu', previous: '0000bcf9d8d00889d1fa904809dfdda89ce268ac27d632d036c99bac3b066530 '})
        each block in blocks
          .col-xs-7
            include includes/coinbaseblock.jade

  script.
    $(function() {
      setup(1, 1);
      setup(2, 1);
      setup(3, 1);
      setup(4, 1);
      setup(5, 1);

      setup(1, 2);
      setup(2, 2);
      setup(3, 2);
      setup(4, 2);
      setup(5, 2);

      setup(1, 3);
      setup(2, 3);
      setup(3, 3);
      setup(4, 3);
      setup(5, 3);
    });

    function getText(block, chain) {
      var s = $('#block'+block+'chain'+chain+'number').val() +
              $('#block'+block+'chain'+chain+'nonce').val() +
              $('#block'+block+'chain'+chain+'coinbasevalue').val() +
              $('#block'+block+'chain'+chain+'coinbaseto').val();

      for (var x=0; $('#block'+block+'chain'+chain+'tx'+x+'value').length > 0; x++) {
        s = s + $('#block'+block+'chain'+chain+'tx'+x+'value').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'from').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'to').val();
      }
      s = s + $('#block'+block+'chain'+chain+'previous').val();
      return s;
    }

    function setup(block, chain) {
      updateHash(block, chain);
      $('#block'+block+'chain'+chain+'mineButton').click(function(e) {
          e.preventDefault();
          var l = Ladda.create(this);
          l.start();
          setTimeout(function() {
              mine(block, chain, true);
              l.stop();
            }, 250); // give UI time to update
        });
    }
